name: .NET Build and Publish

on:
  workflow_dispatch:
  push:
    tags:
      - '*'

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.100'

      - name: Restore dependencies
        run: dotnet restore ./ViolastroBot/ViolastroBot.csproj

      - name: Build
        run: dotnet build ./ViolastroBot/ViolastroBot.csproj --configuration Release

      - name: Publish self-contained single file
        run: >
          dotnet publish ./ViolastroBot/ViolastroBot.csproj
          -c Release
          -r win-x64
          --self-contained true
          -p:PublishSingleFile=true
          -p:IncludeAllContentForSelfExtract=true
          -o ./publish

      - name: Archive Executable
        run: Compress-Archive -Path ./publish/* -DestinationPath ./ViolastroBot.zip

      - name: Create GitHub Release
        id: create_release
        uses: actions/create-release@v1
        with:
          tag_name: ${{ github.ref_name }}
          release_name: Release ${{ github.ref_name }}
          draft: false
          prerelease: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload Executable to Release
        uses: actions/upload-release-asset@v1
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./ViolastroBot.zip
          asset_name: ViolastroBot.zip
          asset_content_type: application/zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
