name: .NET Build and Publish

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.100'

      - name: Restore dependencies
        run: dotnet restore ./ViolastroBot/ViolastroBot.csproj

      - name: Build
        run: dotnet build ./ViolastroBot/ViolastroBot.csproj --configuration Release

      - name: Publish self-contained single file
        run: >
          dotnet publish ./ViolastroBot/ViolastroBot.csproj
          -c Release
          -r win-x64
          --self-contained true
          -p:PublishSingleFile=true
          -p:IncludeAllContentForSelfExtract=true
          -o ./publish

      - name: Archive Executable
        run: Compress-Archive -Path ./publish/* -DestinationPath ./ViolastroBot.zip

      - name: Create GitHub Release and upload asset
        uses: softprops/action-gh-release@v2
        with:
          tag_name: build-${{ github.run_number }}
          name: Build ${{ github.run_number }}
          draft: false
          prerelease: false
          files: ./ViolastroBot.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
